footer {
    height: 80px;
    @media (min-width: 500px) {
        bottom: 0;
    }
    ul {
        display: flex;
        padding: 14px 12px 0;
        align-items: center;
        justify-content: space-between;
        img {
            margin-bottom: 0;
            &.contact {
                width: 136.53px;
            }
            &.insta {
                width: 90.67px;
            }
        }
    }
    p {
        font-size: 6px;
        text-align: right;
        padding-bottom: 30px;
        padding-right: 15px;
    }
}

body.body-home {
    footer {
        position: fixed;
        bottom: 8px;
        width: 100%;
        // background-color: white;
        height: 80px;
                position: fixed;
    }
}
