body {
	header {
		nav {
			img {
				width: 100%;
			}
			.ul-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				z-index: 3;
				a {
					color: transparent;
				}
				details {
					line-height: 0;
					ul {
					
						img {
							margin-bottom: 24px;
							z-index: 3;
							position: relative;
						}
					}
				}
				summary::marker {
					display: none;
					color: transparent;
				}
			
			}
		}
	}

	
}
