body {
	header {
		@media (min-width: 800px) {
			margin-top: -30px;
		}
		nav {
			img {
				width: 100%;
				cursor: pointer;
			}
			.ul-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				z-index: 3;
				> li:nth-child(2) {
					padding-bottom: 8px;
				}
				a {
					color: transparent;
				}
				details {
					line-height: 0;
					ul {
						img {
							margin-bottom: 24px;
							z-index: 3;
							position: relative;
						}
					}
				}
				summary::marker {
					all: unset;
					display: none;
					color: transparent;
					-webkit-appearance: none;
				}
			}
		}
	}
}
