body {
	header {
		nav {
			img {
				width: 100%;
			}
			.ul-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				a {
					color: transparent;
				}
				summary::marker {
					display: none;
					color: transparent;
				}
				details {
					ul {
						// display: flex;
						// flex-direction: row;
						// position: absolute;
						// width: 100%;
						// align-items: center;
						// justify-content: space-between;
						// background: white;
						img {
							margin-bottom: 24px;
						
						}
					}
				}
			}
		}
	}
}
