section {
	p {
		padding-left: 10px;
		padding-right: 10px;
		max-width: 800px;
		margin: 0 auto;
	}
	h1,
	h2 {
		font-size: 18px;
		padding-left: 10px;
		padding-right: 10px;
		max-width: 800px;
		margin: 0 auto;
	}

	&.about {
		padding-top: 50px;
		p,
		h1,
		h2 {
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	@media (min-width: 600px) {
		p,
		h1,
		h2 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
		margin-bottom: 24px;
		@media (min-width: 800px) {
			max-width: 800px;
		}
	}

	&.home {
		img {
			margin-top: 160px;
			margin-bottom: 150px;
			@media (min-width: 800px) {
				max-width: 600px;
				margin-top: 52px;
				margin-bottom: 71px;
			}
		}
	}

	&.title-section {
		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				color: transparent;
			}
			details {
				line-height: 0;
				ul {
					img {
						margin-bottom: 24px;
					}
				}
			}
			summary::marker {
				display: none;
				color: transparent;
			}
		}
	}
}
.ul-container details ul {
	display: flex;
	position: absolute;
	width: 100%;
	left: 0;
	background: white;
}

body {
	section.title-section {
		img {
			width: 100%;
			opacity: 0;
			position: relative;
			z-index: 0;
		}
	}
	&.body-grandpa {
		section.title-section {
			img {
				&.grandpa-title {
					opacity: 1;
				}
			}
		}
	}
	&.body-americana {
		section.title-section {
			img {
				&.americana-title {
					opacity: 1;
				}
			}
		}
	}
	&.body-colabs {
		section.title-section {
			img {
				&.colabs-title {
					opacity: 1;
				}
			}
		}
	}
	&.body-film {
		section.title-section {
			img {
				&.film-title {
					opacity: 1;
				}
			}
		}
	}
	&.body-wapien {
		section.title-section {
			img {
				&.wapien-title {
					opacity: 1;
				}
			}
		}
	}
	&.body-travels {
		section.title-section {
			img {
				&.travels-in-title {
					opacity: 1;
				}
			}
		}
	}
}
