* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: "Courier New", Courier, monospace;
}

p,
ul,
figure {
	margin: 0;
	border: 0;
	padding: 0;
}



ul {
	list-style: none;
}

a {
	color: $theme-blue;
	text-decoration: underline;
}

button {
	cursor: pointer;
}
